.bg {
    background: url("../components/images/3t.png") no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.input {
    display: block;
}

.header {
    background: linear-gradient(rgb(119, 180, 119), rgb(54, 168, 54), rgb(74, 124, 74), rgb(92, 124, 92));
    margin-top: -3%;

}

#historyId {
    font-size: large;
    font-weight: bold;
}

.sp1 {
    margin-left: 15%;
}

.spanClick {
    font-size: xx-large;
    font-weight: bold;

}

.modal-content {
    margin-top: 20%;
    background: linear-gradient(green, rgb(21, 126, 21), rgb(74, 124, 74), rgb(92, 124, 92));
}

span {
    font-weight: bold;
    text-align: center;
}

.header {
    text-align: center;
}

.output {
    position: fixed;
    top: 15vh;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgba(47, 0, 255, 0.274);
}


.border {
    background-color: rgba(245, 219, 219, 0.719);
}

.spanTittle {
    float: left;
}

.tableClass {
    margin-top: 30%;
    background-color: rgba(128, 128, 128, 0.459);
    margin-left: 14%;
}

table td {
    border: 1px solid green;
    width: 100px;
    height: 90px;

}

.sp2 {
    font-size: large;
}

.miniSpan {
    font-size: large;
}

.container {
    display: inline;
}

@media only screen and (max-width: 600px) {
    .historyDiv {
        margin-top: 40%;
    }

    .header {
        background: linear-gradient(green, rgb(21, 126, 21), rgb(74, 124, 74), rgb(92, 124, 92));
        margin-top: 2%;

    }

    table td {
        border: 1px solid green;
    }

    section {
        margin-left: -10%;
    }

}

@media only screen and (max-width: 1200px) {
    table td {
        border: 1px solid green;
        width: 300px;

    }

    .header {
        background: linear-gradient(green, rgb(21, 126, 21), rgb(74, 124, 74), rgb(92, 124, 92));
        margin-top: -4%;

    }


}