.btn {
    height: 50px;
    width: 170px;
    border: none;
    font-size: 16px;
    border-radius: 0 25px;
    color: #fff;
    background: linear-gradient(0.25turn, rgba(224, 235, 224, 0.753), rgba(175, 192, 175, 0.534), rgba(127, 136, 127, 0.548), green);
}

.Btn {
    border: 3px solid rgba(1, 250, 22, 0.274);
    height: 70px;
    width: 70px;
    font-weight: bold;
    margin: 0.2em;

}

.btnStart {
    margin-left: 35%;
    margin-top: 10%;
}

.BtnContainer {
    display: flex;
    margin-left: 12%;
    gap: 30%
}

.btnF {
    margin-left: -10%;
}

.closeBtn {
    margin-left: 50%;
    margin-top: 1%;
    width: 30px;
    height: 30px;
}

/*tablet*/
@media screen and (min-width: 768px) {
    #btnListId {
        margin-left: 9%;
    }

    #funcId2 {
        margin-left: -80%;
    }

}

/*laptop*/
@media screen and (min-width: 1104px) {
    #btnListId {
        margin-left: 0%;
    }
}

/*desktop*/
@media screen and (min-width: 1200px) {
    #btnListId {
        margin-left: -11%;
    }

}