.modal-content {
  background-color: gray !important;
  width: 300px !important;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 80% !important;
  transform: translate(-50%,-50%);
  margin-top: 100px !important;
}
.modal-header,.modal-body,.modal-footer{
    border-bottom: 1px solid orange;

}
.modal-footer{
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
}

@media  screen and (max-width:600px) {
  .modal-content{
   margin-top: 100px !important;
  }
  
}
