.historyDiv {
    width: 350px;
    height: 200px;
    margin-top: 5%;
    border: 1px solid orange;
    background-color: rgb(128, 128, 128);
    box-shadow: 10px solid green;
}

.spanHistory {
    margin-left: 10px;
    display: inline-block;
    text-align: center;
}
#historyOfGames{
    color: black !important;
}