.historyDiv {
    width: 500px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid orange;
    background-color: rgb(128, 128, 128);
    box-shadow: 10px solid green;
    display: flex;
    flex-direction: column;
    place-items: center;
    row-gap: 10%;
    overflow: auto;
}
table{
    border: 1px solid rgba(255, 166, 0, 0.658);
}
table th{
    border: 1px solid rgba(255, 166, 0, 0.685);
    text-align: center;
}
 table td{
    border: 1px solid rgba(255, 166, 0, 0.644);
    text-align: center;
    justify-content: center;
    row-gap: 10px;
    color: black;
}
.text{
    text-align: center;
    color: black;
}
#historyOfGames{
    color: black !important;
}
.closeBtn{
    width: 80px;
    height: 30px;
    background-color: gray;
    color: white;
    position: fixed;
    bottom: 0px;
    border:1px solid orange ;
    color: black;
    text-align: center;
}
.closeBtn:hover{
color: orange;
}

@media screen and (max-width:600px) {
    .historyDiv{
        width: 350px;
        overflow: auto;
    }
    table th{
        font-size: medium;
    }
    table td{
        font-size: medium;
    }
    table{
        margin: 0 auto !important;
        width: 40vh;
        
    }
    
}